/*here is my attempt at usage of obsure fonts from the web but I could not get it to work:*/
/*@font-face {
    font-family: '20_dbregular';
    src: url('20db-webfont.eot');
    src: url('20db-webfont.eot?#iefix') format('embedded-opentype'),
         url('20db-webfont.woff2') format('woff2'),
         url('20db-webfont.woff') format('woff'),
         url('20db-webfont.ttf') format('truetype'),
         url('20db-webfont.svg#20_dbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

*{  
  font-family: comic sans MS;
  /*background-color: lightblue;*/
  background-color: #00FFFF;/*#00FFFF =  Aqua*/
}

body {
    		
		}
h2 {
	font-family: 20_dbregular, "helvetica";
  font-size: 40px;
}

h3 {
	font-family:verdana;
}

p.green{
 			color: RGB(0, 128, 0)/*Green*/;
 		}
.italic{
 			font-style: italic;
 		}


p {
	background-color:rgba(255, 255, 255, 0.80); 
	/*RGB(255, 255, 255) = White*/
}
		nav ul {list-style: none;padding: 0px;margin: 0px;}
		nav ul li {display: block;position: relative;float: left;border:1px solid #000}
		nav li ul {display: none;}
		nav ul li a {display: block;background: #000;padding: 5px 10px 5px 10px;text-decoration: none;
         white-space: nowrap;color: #fff;}
		nav ul li a:hover {background: #f00;}
		nav li:hover nav ul {display: block; position: absolute;}
		nav li:hover nav li {float: none;}
		nav li:hover nav a {background: #f00;}
		nav li:hover nav li a:hover {background: #000;}
/*this is a css comment*/