.container{
	display:flex;
	flex-flow: row;
	justify-content:center;
}

.conatiner li{
	display: flex;
	text-align: center;
}

.conatiner a{
	flex: 3;
	display: inline flex;
	flex-direction: row;
	justify-content: center;
}
@media (min-width: 1080px){
  nav ul{
    display: flex;
    justify-content: center;
  }

/*.navbar {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.navbar li {
  flex: 1;
  display: flex;
  text-align: center;
}

.navbar a {
  flex: 1;
  justify-content: center;
  color: #ffffff;
  padding: 20px;
}*/