@font-face{
	font-family: poiret one;
	src: url(fonts/poiretone-regular-webfont.ttf);
}
body{
	background-image: url("images/2004_Peeler_Lake.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

h2{ text-decoration: underline; }

h1, h2, h3, h4, h5 {
	box-sizing: content-box;
	font-family: broadway, garamond, san serif;	
	border: 1px solid white;
	border-radius: 8px;
	padding: 15px; 
	padding-top: 10px;
	background-color: rgba(250,250,250, 0.5);
}


p, a, blockquote{
	font-family: poiret one, garamond, serif;
	font-weight: bold;
}

ol, p, blockquote {
	border: 1px solid white;
	border-radius: 8px;
	padding-left: 25px; 
	padding-right: 25px;
	padding-bottom: 25px;
	padding-top: 10px;
	background-color: rgba(250,250,250, 0.675);
}

@media (min-width: 1080px){
	nav ul{list-style: none;
		margin-right: 0px;
		margin: 10px;		
		
	}
	nav ul li {list-style: none;			

	}
	nav ul li a {list-style: none;	
		
		
	}				
}
nav ul {list-style: none;
				border: none;
				background-color: rgba(250,250,250, 0);
				padding: 2px;}
		nav ul li {				
				margin-top: 30px;
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
				justify-content: space-between;}		
		nav ul li a {background: rgba( 0,0,0, .75);
				padding: 5px 10px 5px 10px;
				text-decoration: none;
				font-size: 250%;
			 	white-space: nowrap;
			 	color: white;
			 	border-radius: 10px;
			 	display: flex;
			 	justify-content: center;}
	 	nav ul li a:hover {background: rgb(0,180,180)/*Color = Iris Blue*/;
				border-radius: 10px;}		

/*#contact {background: rgba(220,20,60, .75);/*Color = Crimson*/;
/*		border-radius: 10px;}
#tour {background: rgba(51,51,127, .75);*//*Color = Crimson*/;
/*		border-radius: 10px;}		*/
/*nav {
	display: flex;
	justify-content: center;
}

nav ul {list-style: none;
		border: none;
		background-color: rgba(250,250,250, 0);
		padding: 2px;
		display: flex;
		flex-direction: column;
	 	}
nav ul li {list-style: none;				
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		}		
nav ul li a {background: rgba(0, 0, 0, .75);
		padding: 5px 10px 5px 10px;
		text-decoration: underline;
		font-size: 250%;
	 	white-space: nowrap; 
	 	color: white;
	 	border-radius: 10px;
	 	display: flex;
	 	flex-direction: column;
	 	}
nav ul li a:hover {background-color:  rgba(0,180,180,.5);;
		border-radius: 10px;}
		/*Color = Iris Blue*/
.contact{ color: rgba(220,20,60, .75)}
	/*:hover {background-color: rgba(220,20,60, .75);/*Color = Crimson*/;
		/*border-radius: 10px;}}*/