@font-face{
	font-family: Kaushan Script-Regular;
	src: url(kaushanscript-regular-webfont.ttf);
}

.responsive{
	width: 60%;
	height: auto;
}

/* Style the header */
.header {
  grid-area: header;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }

*{
	font-family: Kaushan Script-Regular, Arial, Script-Regular;
	box-sizing: border-box;
}

.italic{
	font-style: italic;
}

.customheading{
	font-family: Georgia;
	font-weight: bold;
	font-size-adjust: 50px;
}

body{
	background-image: url("images/puppy_backdrop_reflected_right_cropped.jpg");
	/*image compliments of https://pixabay.com/en/dog-husky-friend-2332240/*/
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: repeat-y;
}
p{
	clear: both;
	float: left;
}
p, ol, ul{
	margin-right: 50%;
	border: 2px solid GRAY;
	border-radius: 8px;
	padding: 25px; 
	padding-top: 15px;
	background-color: rgba(250,250,250, 0.675);
}

abbr.acronymStyle{
	font-weight: bold;
	font-style: italic;
	color: rgb(0,128,0)/*green*/;
}

nav ul{
	margin-right: 50%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li{
	float: left;
}
nav li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}
nav li a:hover {
	background-color: rgb(128,128,128);
}
