.responsive{
	width: 100%;
	height: auto;
}

h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
}	
.mainContainer{
	display: flex;
	justify-content: flex-start;
}

#column1{
	display: flex;
	flex-direction: column;
	flex:2;
	padding-right: 20px;
	padding-left: 20px;
}
#column2{
	display: flex;
	flex-direction: column;
	flex:3;
	padding-right: 20px;
	padding-left: 20px;
}
#column3{
	display: flex;
	flex-direction: column;
	flex:2;
	padding: 20px;
}
#column4{
	display: flex;
	flex-direction: column;
	flex:3;
	padding: 20px;
}
#column5{
	display: flex;
	flex-direction: column;
	flex:3;
	padding: 20px;
}
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
}
