nav{
	background-color: rgba(50,50,50, .675);
	border-radius: 10px;
}
nav a{
	font-size: 40px;
	padding: 20px;
	text-decoration: none;
	color: rgb(200, 200, 200);
}
nav a:hover{
	color: white;
}
footer{
	color: yellow;
	background-color: rgb(255, 0, 102) /*~pink*/;
	border-radius: 10px;
}
footer h3{
	font-size: 30px;
}
footer h2{
	font-size: 50px;
}