.container {
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.responsive{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	height: auto;
	border-radius: 30px;
}
.mainContainer{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
}
.column1{
	display: flex;
	flex-direction: column;
	flex:2;
	padding-right: 20px;
	padding-left: 20px;
}
.column2{
	display: flex;
	flex-direction: column;
	flex:3;
	padding-right: 20px;
	padding-left: 20px;
}

@media (min-width: 1080px){
	nav ul{
		display: flex;
		justify-content: center;
	}

	.mainContainer{
		display: flex;
		flex-direction: row;
		align-content: center;
	}		
	.column1{
		display: flex;
		flex-direction: column;
		align-content: center;
		padding-right: 20px;
		padding-left: 20px;
	}
	.column2{
		display: flex;
		flex-direction: column;
		align-content: center;
		padding-right: 20px;
		padding-left: 20px;
	}
}