@font-face{
	font-family: poiret one;
	src: url(fonts/poiretone-regular-webfont.ttf);	
}

body{
	background-image: url("images/empty_barrel_02.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

footer{
	
	font-size: 300%;
	border: 1px solid white;
	border-radius: 8px;
	padding: 15px; 
	padding-top: 10px;
	background-color: rgba(250,250,250, 0.675);
	display: flex; 
	justify-content: center;
	
}
footer a{
	font-family: broadway, garamond, san serif;
	color: green;
}
footer a:hover{
	color: black;
}

h2{ text-decoration: underline; 
	font-size: 300%}

h3{font-size: 200%}	

h2, h3, h4, h5 {
	box-sizing: content-box;
	font-family: broadway, garamond, san serif;	
	border: 1px solid white;
	border-radius: 8px;
	padding: 15px; 
	padding-top: 10px;
	background-color: rgba(250,250,250, 0.675);
}

.center{
	margin-left: auto;
	margin-right: auto;
}

p, blockquote{
	font-family: poiret one, garamond, serif;
	font-weight: bold;
	font-size: 150%;
}

a, li {
	font-family: poiret one, garamond, serif;
	font-weight: bold;
}

li{
	list-style: none;
}

ol, ul, p, blockquote {
	border: 1px solid white;
	border-radius: 8px;
	padding-left: 25px; 
	padding-right: 25px;
	padding-bottom: 25px;
	padding-top: 10px;
	background-color: rgba(250,250,250, 0.675);
}
		nav ul {list-style: none;
				border: none;
				background-color: rgba(250,250,250, 0);
				padding: 2px;}
		nav ul li {				
				margin-top: 30px;
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
				justify-content: space-between;}		
		nav ul li a {background: black;
				padding: 5px 10px 5px 10px;
				text-decoration: none;
				font-size: 250%;
			 	white-space: nowrap;
			 	color: white;
			 	border-radius: 10px;
			 	display: flex;
			 	justify-content: center;}
	 	nav ul li a:hover {background: rgb(0,180,180)/*Color = Iris Blue*/;
				border-radius: 10px;}		