@font-face{
	font-family: Kaushan Script-Regular;
	src: url(kaushanscript-regular-webfont.ttf);
}
*{
	font-family: Kaushan Script-Regular, Arial, Script-Regular;
}

.italic{
	font-style: italic;
}

.customheading{
	font-family: Georgia;
	font-weight: bold;
	font-size-adjust: 50px;
}

body{
	background-image: url("images/puppy_backdrop_reflected_right_cropped.jpg");
	/*image compliments of https://pixabay.com/en/dog-husky-friend-2332240/*/
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: repeat-y;
}
p{
	clear: both;
	float: left;
}
p, ol, ul{
	margin-right: 50%;
	border: 2px solid GRAY;
	border-radius: 8px;
	padding: 25px; 
	padding-top: 15px;
	background-color: rgba(250,250,250, 0.675);
}

abbr.acronymStyle{
	font-weight: bold;
	font-style: italic;
	color: rgb(0,128,0)/*green*/;
}

nav ul{
	margin-right: 50%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li{
	float: left;
}
nav li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}
nav li a:hover {
	background-color: rgb(128,128,128);
}
