nav ul{
	/*margin-right: 50%;*/
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
}

nav li{
	float: left;
}
nav li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}
nav li a:hover {
	background-color: rgb(128,128,128);
}
/*IF IT DON'T FIT, IT DON'T FLOAT*/
/*.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 100px;

  grid-template-areas:
        "head head2 . side"
        "main main2 . side"
        "footer footer footer footer";
}*/
.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}